.container {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.container > input {
  flex: 1;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.container > button {
  width: 80px;
  border-radius: 5px;
  border: none;
  background: #7fbe6c;
  color: white;
  cursor: pointer;
}
